<!-- TO DO: render message list using message templates, style this -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Online Cafe</title>
  </head>
  <body>
    <div class="left">
      <h1 class="title"><%=title %></h1>
      <p>
        Get in touch with everyone in the world! Just click "new message" and
        write what you have in mind
      </p>
      <h1>Regulations</h1>
      <ul>
        <li>No hate speech</li>
        <li>No homophobic or sexist things</li>
        <li>Be kind and friendly to others</li>
      </ul>
      <a id="new-message-btn" href="/new">Write new message</a>
    </div>
    <div class="right">
      <h2>Messages</h2>
      <ul>
        <% messages.map(message=>{ %>
        <li class="message">
          <div class="message-credits">
            <h3><%= message.username %></h3>
            <p>
              <%= Math.floor((Date.now() - new Date(message.date)) / 1000 / 60 -
              60)%> min ago
            </p>
          </div>
          <p class="message-text"><%= message.text %></p>
        </li>
        <%}) %>
      </ul>
    </div>
  </body>
</html>
