/* left section */
.left {
  padding: var(--spacing-xl);
  display: flex;

  justify-content: center;
  flex-direction: column;

  background-color: var(--background-darker);
  color: var(--accent-green);

  border-radius: var(--border-radius-md);
}

.left p {
  color: var(--text-lighter);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 2.5rem;
  font-size: var(--text-xl);
}

.left h1 {
  margin: var(--spacing-2xl) 0px var(--spacing-md) 0px;
}

.left ul {
  list-style-position: inside;
}

.left li {
  color: var(--text-lighter);
  font-family: "Roboto", sans-serif;

  font-size: var(--text-xl);
  font-weight: bold;
  line-height: var(--text-3xl);
}

.left #new-message-btn {
  width: fit-content;
  margin: 2rem 0px;
  padding: var(--spacing-xl) var(--spacing-2xl);

  background-color: var(--accent-green);
  color: var(--text-white);

  box-shadow: 0px 0px 15px var(--background-darker);

  font-weight: bold;
  font-size: var(--text-lg);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;

  border: 1px solid var(--background-darker);
  border-radius: var(--border-radius-sm);

  transition: box-shadow 300ms;
}

.left #new-message-btn:hover {
  box-shadow: 0px 0px 25px var(--accent-green);
}
