.message {
  display: flex;
  flex-direction: column;
  background-color: var(--background-lighter);
  border-radius: var(--border-radius-md);
  margin: 0px var(--spacing-sm);
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: box-shadow 200ms;
}
.message:hover {
  box-shadow: 0px 0px var(--spacing-xl) var(--accent-green);
}
.message-credits {
  display: flex;
  border-bottom: 3px solid var(--background-normal);
  padding: var(--spacing-lg);
  justify-content: space-between;
  align-items: center;
}

/* Message date */
.message-credits p {
  color: var(--text-darker);
  font-size: var(--text-md);
}

/* Username */
.message-credits h3 {
  color: var(--text-normal);
  font-weight: normal;
  font-size: var(--text-lg);
}
.message-text {
  padding: var(--spacing-2xl) var(--spacing-lg);
  font-size: var(--text-lg);
}
