/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap");

/* variables */
@import url("./variables.css");

/* left section */
@import url("./left section.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;

  gap: var(--spacing-2xl);
  padding: var(--spacing-2xl);

  background-color: var(--background-lighter);
}

.right {
  background-color: var(--background-darker);
  border-radius: var(--border-radius-md);
  padding: var(--spacing-2xl);
  color: var(--text-lighter);
  height: 90vh;
  overflow: hidden;
}
.right ul {
  list-style-type: none;
}
.message {
  display: flex;
  flex-direction: column;
  background-color: var(--background-normal);
  border-radius: var(--border-radius-md);
  margin: var(--spacing-2xl) 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.message-credits {
  display: flex;
  background-color: var(--background-lighter);
  border-radius: var(--border-radius-md);
  padding: var(--spacing-xl);
  justify-content: space-between;
}
